<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="GGAutomationSuite" verbose="1">

	<test name="Regression1">
		<parameter name="url"
			value="http://glamgalzqa.konverge.net/wp-admin/" />
		<parameter name="userName"
			value="konvergedevelopment@gmail.com" />
		<parameter name="password" value="123456" />
		<classes>
			<class name="demo.ParameterTest" />
		</classes>
	</test>
</suite>
